.promo {
  padding-top: 70px;
  
  .title {
    max-width: 740px;
    margin: 0 auto;
    margin-bottom: 45px;
    text-align: center;
    font-weight: 800;
    font-size: 58px;
    line-height: 1.2;
  }
}

.promo__subtitle {
  margin-bottom: 65px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: #9292A6;
}

.promo__img {
  img {
    display: block;
    width: 100%;
    height: auto;
  }
}
